__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

*.log
contracts/config/config.human
*.human
*.human
.instrucciones_privadas
check_post_ghost.sh
post_ghost_report.dat
reentry_policy.yaml
validate_energy_solar.py
main
logs/*
!logs/guardia_nocturna.log
!contracts/config/config.human
!logs/node_health_report.txt
